PROJECT_FOLDER="/path/to/project"

WORK_PATH=${PROJECT_FOLDER} # for local paths
#WORK_PATH=/data # for docker envs
DATASET_FOLDER=${WORK_PATH}/MusicVoiceCluster
MODEL_FOLDER=${WORK_PATH}/ML_Models
CSV_FOLDER=${WORK_PATH}/CSV
PLOT_FOLDER=${WORK_PATH}/plots
